.pane {
    background: #ffffffcc;
    border-radius: 10px;
}

.pane.fixed {
    position: absolute;
}

.pane.floating {
    position: center;
}

.pane.transparent {
    background-color: transparent;
}